/* Header */

.header {
  text-transform: uppercase;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: 0.2s;
}

.header.header--scrolled {
  padding: 0;
  background: var(--bg-darker);
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 10.677vw;
}

.header__logo {
  padding: 15px 0;
}

.header__list {
  display: flex;
  gap: 29px;
}

.header__list-item {
  font-size: clamp(12px, 0.833vw, 16px);
  font-style: italic;
}

/* Main */

.main {
  display: grid;
  background: var(--bg-darker);
  position: relative;
}

.main .container {
  display: flex;
  align-items: end;
}

.main__inner {
  max-width: 46.875vw;
  padding: 10.677vw 0 2.604vw;
}

.main__title {
  font-size: clamp(50px, 4.167vw, 80px);
  margin-bottom: 2.604vw;
}

.main__subtitle {
  font-size: clamp(32px, 2.604vw, 50px);
  margin-bottom: 3.333vw;
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 40px;
}
.main__list-item {
  display: flex;
  align-items: center;
  font-size: 1.25vw;
  line-height: 90%;
  gap: 0.781vw;
}

.main__list-item img {
  width: 2.031vw;
}

.main__list-item .font-prata {
  font-size: 2.083vw;
  line-height: 90%;
}

.main__list-item span {
  display: flex;
  align-items: center;
}

.main__btn {
  color: var(--main-black);
  font-size: clamp(18px, 1.25vw, 24px);
  font-weight: 800;
  text-transform: uppercase;
  padding: 2.031vw 2.604vw;
}

.main-img {
  position: absolute;
  top: 0;
  right: 0;
  width: clamp(400px, 39.792vw, 763px);
  height: 100%;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* About */

.about {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: min-content;
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__middle {
  max-width: 800px;
  padding: 54px 53px 0;
}
.about__list {
  margin-bottom: 80px;
}
.about__list-item {
  display: flex;
  align-items: start;
  gap: 20px;
  font-size: 20px;
  padding: 40px 0;
  border-bottom: 1px solid #55565a;
}
.about__list-item:first-child {
  padding-top: 0;
}
.about__list-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.about__btn {
  display: flex;
  justify-content: center;
  padding: 32px 50px;
  width: 100%;
  color: var(--second-black);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
}

/* Form */
.form-section__inner {
  background: var(--main-white) url("/img/form/bg.png") no-repeat right;
  padding: 72px 134px;
  border-radius: 30px;
  position: relative;
}

.form-section__inner::after {
  position: absolute;
  content: "";
  width: 600px;
  height: 686px;
  background: url("/img/form/girl.png") no-repeat center 33%;
  bottom: 0;
  right: 90px;
}
.form-section__inner::before {
  position: absolute;
  content: "";
}

.form {
  max-width: 780px;
}
.form__title {
  line-height: 110%;
  font-size: 54px;
  color: var(--oceanic);
  margin-bottom: 45px;
}
.form__items {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.form__item {
  width: 100%;
  height: 65px;
}
.form__input {
  width: 100%;
  height: 100%;
  padding: 14px 38px;
  font-size: 24px;
  border: 1px solid #d5c9be;
  border-radius: 4px;
  color: var(--oceanic);
}
.form__input:focus {
  border-color: #d6d6d6;
}

.form__checkbox {
  margin: 26px 0;
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  gap: 16px;
}
.form__checkbox-icon {
  aspect-ratio: 1;
  display: inline-block;
  width: 24px;
  border: 1px solid var(--oceanic);
  border-radius: 4px;
}
.form__checkbox-text {
  font-size: 19px;
  color: #55565a;
}
.form__btn {
  border-radius: 4px;
  width: 100%;
  height: 100px;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--main-white);
  background: var(--second-black);
}

/* Footer */

.footer__nav {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--main-gray);
  border-bottom: 2px solid var(--main-gray);
}
.footer__list {
  display: flex;
  gap: 60px;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
.footer__end {
  padding: 45px 0 55px;
}
.footer__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__socials {
  display: flex;
  gap: 32px;
}
.footer__socials-item a {
  display: inline-block;
}

.footer__socials-item {
  width: 32px;
  height: 32px;
  position: relative;
}
.footer__socials-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: var(--main-white);
  z-index: -1;
  border-radius: 50%;
  transition: all 0.2s;
}
.footer__socials-item:hover::before {
  width: 150%;
  height: 150%;
}
.footer__socials-item svg path {
  transition: 0.2s;
}
.footer__socials-item:hover svg path {
  stroke: var(--oceanic);
}

.footer__btn {
  color: var(--main-black);
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  padding: 32px 52px;
}
.footer__bottom {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.footer__copyright {
  color: var(--main-white);
}
.footer__privacy,
.footer__term {
  color: var(--main-gray);
}
