* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
  list-style-position: inside;
}

input,
button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-main);
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-width: 320px;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 36px;
  text-transform: uppercase;
}

.font-prata {
  font-family: "Prata";
  line-height: 120%;
}

.btn-primary {
  background: var(--main-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata/Prata-Regular.ttf") format(truetype);
}
